/*
   Saturday, March 23, 20136:28:30 PM
   User: 
   Server: .\mssql2008
   Database: SpeedySpots
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.IACustomerCreditCard ADD
	CreditCardAddress1 nvarchar(100) NOT NULL,
	CreditCardAddress2 nvarchar(100) NOT NULL,
	CreditCardCity nvarchar(100) NOT NULL,
	CreditCardState nvarchar(100) NOT NULL,
	CreditCardEmailReceipt nvarchar(255) NOT NULL
GO
ALTER TABLE dbo.IACustomerCreditCard SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
